@import 'tailwindcss';

@theme {
  --color-bg: #ffffff;
  --color-text: #000000;
  --color-softbg: #f0f0f0;
  --color-softext: #626262;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer theme {
  :root,
  :host {
    @variant dark {
      --color-bg: #0f172a;
      --color-text: #dddddd;
      --color-softbg: #1f273a;
      --color-softext: #a6a6a6;
    }
  }
}

@layer components {
  .btn {
    @apply cursor-pointer rounded-full px-7 py-3 font-bold text-white transition-all duration-500;

    background-color: #2ba8fb;
  }

  .btn:hover {
    background-color: #6fc5ff;
    @apply scale-110 shadow-[0_0_20px_#6fc5ff50];
  }

  .btn:active {
    background-color: #3d94cf;
    @apply scale-95 shadow-none transition-all duration-250;
  }
  .style {
    @apply bg-[#57c4ff31];
  }
  .fashion {
    @apply bg-[#da85c731];
  }
  .food {
    @apply bg-[#7fb88133];
  }
  .travel {
    @apply bg-[#ff795736];
  }
  .culture {
    @apply bg-[#ffb04f45];
  }
  .coding {
    @apply bg-[#5e4fff31];
  }
}

.ql-container {
  font-size: 28px !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  @apply text-[#b3b3b1];
}
